*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.d-table{
    display: table;
    width: 80%;
    border-collapse: collapse;
    border: 1px solid #000;
    text-align: center;
}

.container {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 30px auto;
}

.d-tr{
    display: table-row;
    height: 40px;
}

.d-td{
    display: table-cell;
    text-align: center;
    border: 1px solid #000;
    vertical-align: middle;
}
.d-th{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
}

.header {
    font-weight: 800;
    background: #242222;
    color: #fff;
    font-size: 20px;
    height: 70px;
    display: table-row;
}

.row-table:hover {
    background: #b3b061;
    cursor: pointer;
}

.row-table.none {
    display: none;
}

.row-table.change-color {
    background: #b3b061;
}

.childElements {
    pointer-events: none;
    background: #83aa7d;
    color: #fff;
    height: 20px;
    font-size: 14px;
}

.d-trg.containerChildRows{
    display: none;
}

.d-trg.containerChildRows.open {
    display: table-row-group;
}

.colorActiveStatus {
    color: #048904;
    font-weight: 800;
}

.colorNotActiveStatus {
    color: #c50000;
    font-weight: 800;
}

.wrapBtn {
    padding-top: 5px;
    display: flex;
    justify-content: center;
}

.statusBtn {
    padding: 5px 10px;
    cursor: pointer;
}

.statusBtn.active {
    background: #117003;
    color: #fff;
}

.childElementYes{
    color: #117003;
    font-size: 20px;
}
.childElementNo{
    color: rgba(210, 25, 25, 0.2);
    font-size: 20px;
}

.d-trg{
    display: table-row-group;
}